@import "../_variables";

.contact {
  min-height: 50vh;

  &__sub {
    margin-bottom: 10px;
  }

  &__detail {
    margin-bottom: 30px;
  }

  &__social {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: underline;
    transition: color .3s ease;

    &:hover {
      color: var(--third-color);
    }
  }
}

@media screen and (max-width: 575.98px) {
  .contact {

    &__detail {
      font-size: $small-font-size;
    }

    &__social {
      font-size: $small-font-size;
    }
  }
}