/*============== Google Font =============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES ===============*/

/*============ FONT ==========*/
$main-font: 'Poppins', sans-serif;
$h1-font-size: 36px;
$h2-font-size: 20px;
$text-font-size: 16px;
$small-font-size: 12px;
/*============ COLOR ==========*/
$background-color: #F9F7FD;
$main-color: #2c293d;
$second-color: #dddddd;
$third-color: #445ffa;
$text-color: #5e5c7f;
/*============ SHADOW ==========*/
$shadow-box: rgba(0, 0, 0, 0.09) 0px 3px 12px;

// MIXIN
@mixin display-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*=============== END VARIABLES ===============*/