@import "../_variables.scss";

.aside {
  display: block;
  background: $background-color;
  width: 110px;
  min-height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  border-right: 1px solid $second-color;
  padding: 30px;
  @include display-flex;
  flex-direction: column;
  transition: .3s;

  .nav {
    @include display-flex();

    &__logo {
      width: 55px;
      height: 55px;
      // display: block;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid $second-color;

      img {
        vertical-align: middle;
      }
    }

    &__list {
      @include display-flex;
      flex-direction: column;
      row-gap: 20px;
    }

    &__item {
      font-size: 25px;

      a {
        @include display-flex;
        color: $main-color;
        transition: color .3s ease;
        padding: 15px;
        border-radius: 15px;

        &:hover {
          color: $third-color;
          background: $second-color;
        }
      }
    }

    &__mode {
      font-size: 25px;
      color: $main-color;
      transition: all .5s ease-in-out;

      &:hover {
        color: $third-color;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 999;
  font-size: 22px;
  color: $main-color;
  border: 3px solid $second-color;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
  transition: left .3s ease;
  background: $background-color;
}

// RESPONSIVE 
@media screen and (max-width: 1199.99px) {

  .aside {
    left: 0;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 1079.98px) {

  .sidebar {
    display: block;
    @include display-flex();

    &.sidebar-open {
      left: 125px;
    }
  }

  .aside {
    left: -110px;

    &.aside-show {
      left: 0;
    }
  }
}

