@import "../variables.scss";

.home {
  position: relative;
  min-height: 100vh;
  @include display-flex();
  justify-content: center;
  align-items: center;

  &__box {
    text-align: center;
    padding: 80px 50px;
    border-radius: 15px;
    box-shadow: $shadow-box;
    background: #fff;
  }

  &__logo {
    margin: 0 auto;
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__greeting {
    font-size: $h1-font-size;
    margin-bottom: 30px;
  }  

  &__sub {
    font-size: $text-font-size;
  }

  .social {
    @include display-flex();
    justify-content: center;
    margin: 30px 0;

    &__item {
      margin: 0 20px;

      & a {
       @include display-flex();
        padding: 10px;
        background: $second-color;
        border-radius: 50%;
        overflow: hidden;
        transition: background .3s ease;

        &:hover {
          background: $third-color;

          svg {
            color: $background-color;
          }
        }

        & svg {
          width: 35px;
          height: 35px;
          color: $main-color;
        }
      }
    }
  }

  &__contact {
    color: $text-color;
    text-decoration: underline;
    font-weight: 600;
    transition: color .3s ease;

    &:hover {
      color: $third-color;
    }
  }
}

// RESPONSIVE 
@media screen and (max-width: 991.98px) {
  .home {

    &__box {
      padding: 70px 40px;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .home {
    width: auto;

    &__box {
      padding: 45px 30px;
    }

    &__logo {
      margin-bottom: 30px;
      width: 170px; 
      height: 170px;
    }

    &__greeting {
      font-size: 25px;
      margin-bottom: 30px;
    }

    &__sub {
      font-size: 13px;
      margin-bottom: 30px;
    }

    .social {
      margin-bottom: 30px;

      &__item {
        margin: 0 10px;

        & a {
          & svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }

    &__contact {
      font-size: 13px;
    }
  }
}