@import "../_variables.scss";

.journey {

  &__timeline {
    position: relative;
    z-index: 1;
  }

  &__study {
    background: var(--box-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: var(--shadow-box);
  }

  &__work {
    // margin-top: 30px;
    // background: #fff;
    // border-radius: 15px;
    // padding: 30px;
    // box-shadow: $shadow-box;
  }
}


