@import "../../scss/variables";

.about {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  // align-items: center;

  &__title {
    padding: 0;
    margin-bottom: 50px;
    margin-left: 15px;
  }

  &__content {
    @include display-flex();
    flex-direction: row;
    justify-content: space-between;
  }

  &__text {
    background: #fff;
    box-shadow: $shadow-box;
    text-align: justify;
    padding: 50px 40px;
    border-radius: 15px;

    p {
      font-style: italic;
    }
  }

  &__gif {
    margin-left: 30px;
    width: 150%;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
  }
}

@media screen and (max-width: 991.98px) {
  .about {
    min-height: 100vh;

    &__content {
      flex-direction: column;
      text-align: center;
    }

    &__text {
      padding: 30px;
      margin-bottom: 30px;
    }

    &__gif {
      margin: 0;
      width: 60%;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .about {
    padding: 0;
    @include display-flex();
    justify-content: center;

    &__title {
      font-size: 25px;
    }

    &__text {
      p {
        font-size: $small-font-size;
      }
    }
  }
}