@import "../_variables";

.project {

  &__box {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__heading {
    grid-area: 1 / 1 / auto / 4;
    margin: 0;
    padding-top: 30px;
  }

  &__list {
    grid-area: 1 / 4 / auto / 12;
  }
}

@media screen and (max-width: 1080px) {
  
  .project {
    &__box {
      display: flex;
      flex-direction: column;
    }

    &__heading {
      padding-top: 0;
      padding-bottom: 30px;
    }
      
  }
}

@media screen and (max-width: 575.98px) {
  .project {
    &__heading {
      font-size: $h3-font-size; 
    }
  }
}