@import "../../_variables";

.project {
  &__item {
    padding: 30px;
    box-shadow: var(--shadow-box);
    margin-bottom: 15px;
    border-radius: 15px;
    background: var(--box-color);
  }
  
  &__name {
    margin: 0;
  }
  
  .tech {
    &__list {
      @include display-flex();
      justify-content: left;
      flex-wrap: wrap;
      flex-direction: row;
      gap: .5rem;
      width: 100%;
      margin: 15px 0;
    }

    &__item {
      font-size: $small-font-size;
      color: var(--text-color);
    }
  }
  
  &__desc {
    margin-bottom: 20px
  }
  
  &__link {
    @include display-flex();
    justify-content: space-between;
  
    .icon {
      @include display-flex();
      justify-content: center;
  
      i {
        font-size: 30px;
        transition: .3s ease;
        color: var(--main-color);
      }
  
      &:hover i {
        color: var(--third-color);
      }
    }
  
    .read-more {
      display: inline-flex;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
  
      span {
        font-size: 18px;
        transition: .3s ease-in-out;
      }
  
      &:hover {
        text-decoration: underline;
  
        span {
          transform: translate(5px);
        }
      }
    }
  }

  &__modal {
    position: fixed;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    padding: 0 1.5rem;
    transition: .3s;
    visibility: hidden;
    z-index: 11;

    &.modal-active {
      visibility: visible;
      opacity: 1;
    }

    &-content {
      position: relative;
      padding: 50px 40px;
      background-color: var(--background-color);
      border-radius: 15px;
      overflow: hidden;
      max-width: 500px;
      overflow: hidden;
    }

    &-button {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 32px;
      @include display-flex();
      justify-content: center;
      padding: 5px;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      transition: .3s;
      color: var(--main-color);

      &:hover {
        background: var(--second-color);
      }
    }

    &-title {
      text-align: center;
      margin-bottom: 10px;
    }

    &-img {
      width: 400px;
      height: auto;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &-feature {
      p {
        margin-bottom: 5px;
        font-size: 15px;
      }
    }

    &-link {
      text-decoration: underline;
      font-size: 15px;
      color: var(--text-color);
    }

    &-scroll {
      max-height: 160px;
      overflow-y: auto;
      padding-right: 10px;

      li {
        color: var(--text-color);
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .project {
    &__name {
      font-size: 17px;
    }

    .tech {
      &__item {
        font-size: 11px;
      }
    }

    &__desc {
      font-size: $small-font-size;
    }

    .read-more {
      font-size: $small-font-size;

      span {
        font-size: 15px;
      }
    }

    &__modal {
      &-button {
        font-size: 28px;
      }

      &-img {
        width: 300px;
      }

      &-feature {
        p {
          font-size: $small-font-size;
        }
      } 

      &-link {
        font-size: $small-font-size;
      }

      &-scroll {
        li {
          font-size: $small-font-size;
        }
      }
    }
  }
}